* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, #root, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.14rem;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .wrap-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  overflow: auto;
}

.wrap .wrap-section .section-content {
  width: 100%;
}

.wrap .wrap-section .section-content ul {
  width: 100%;
}

.wrap .wrap-section .section-content ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.2rem 0;
}

.wrap .wrap-section .section-content ul li div {
  width: 10%;
  line-height: 2rem;
  text-align: center;
}

.wrap .wrap-section .section-content ul li dl {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .wrap-section .section-content ul li dl dt {
  width: 2.4rem;
  height: 2rem;
}

.wrap .wrap-section .section-content ul li dl dt img {
  width: 100%;
  height: 100%;
}

.wrap .wrap-section .section-content ul li dl dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.2rem;
}

.wrap .wrap-section .section-content ul li dl dd p {
  height: 0.6rem;
  line-height: 0.6rem;
}

.wrap .wrap-section .section-content ul li dl dd p:nth-of-type(3) {
  text-align: right;
  margin-right: 0.4rem;
}

.wrap .wrap-section .section-content ul li dl dd p:nth-of-type(3) span {
  margin-left: 0.2rem;
}

.wrap .wrap-section .section-content .section-content-bottom {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: lightblue;
}

.wrap .wrap-section .section-content .section-content-bottom span:nth-of-type(1) {
  margin-left: 0.4rem;
}

.wrap .wrap-section .section-content .section-content-bottom span:nth-of-type(2) {
  margin-right: 0.4rem;
}

.wrap .wrap-footer {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

.wrap .wrap-footer a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-right: 1px solid #ccc;
}

.wrap .wrap-footer a:nth-of-type(2) {
  border: none;
}

.wrap .wrap-footer a span {
  text-align: center;
}

.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}

.dialog div {
  position: relative;
  width: 100%;
  height: 100%;
}

.dialog div img {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2rem;
  margin-top: -2rem;
}
/*# sourceMappingURL=style.css.map */